.container{
    margin: 100px;
    margin-top: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.singleProduct{
    width: 30%;
    padding: 0rem;
    margin: 1.5rem;
    background-color: #ffffff;
    transition: 0.3s;
    border-radius: 25px;
    overflow: hidden;
    height: 510px;
    position: relative;
    z-index: 10;
    box-shadow: 10px 5px 5px #969696
}

.singleProduct:hover{
    transition: 0.5s;
    overflow: hidden;
}

.singleProduct:hover .productDescription{
    opacity: 1;
}

.singleProduct:hover .productImage{
    opacity: 0.4;
}

.namePrice{
    align-items: center;
    background-color: #0e85e6;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.productName{

}

.productPrice{

}

.productImage{
    transition: 0.5s;
    object-fit: cover;
    z-index: 0;
    position: absolute;
    height: 400px;
    width: 512px;
}

.productDescription{
    background-color: #faf7f7;
    color: black;
    border-radius: 20px;
    display: flex;
    margin-left: 50px;
    margin-right: 60px;
    opacity: 0;
    position: relative;
    top: 10%;
    text-align: center;
    transition: 0.6s;
    padding: 10px;
}

.btnDiv{
    width: 100%;
    height: 58px;
    background-color: #0e85e6;
    position: absolute;
    bottom: 0%;
}

.addBtn{
    background-color: #ffffff;
    color: #000;
    position: absolute;
    width: 100px;
    height: 35px;
    opacity: 1;
    border-style: none;
    border-radius: 10px;
    transition: 0.3s;
    text-align: center;
    right: 43%;
    top: 19%;
}

.addBtn:hover{
    background-color: #7af0ff;
}

.addBtn:active{
    background-color: aqua;
    transition: 0s;
}
